<h1>Welcome to ElieMattTimIan Inc.</h1>

<p>We are a lean, agile startup working on a revolutionary product that will disrupt the industry using the latest technology in big data, machine learning, HTML5, real time communication, time travel, and react native.</p>

<p>Our code base is still in the alpha stage, but we value the company at $4.5 billion.  Please contact us below if you have any questions or are interested in investing</p>

<h4>Any questions on what we do? Email us!</h4>


<form action="/email" method="POST">
  <input type="text" name="email[from]" placeholder="from"><br />
  <textarea rows="6" name="email[body]" cols="70">
I am a wealthy venture capatalist and I'd like to throw piles of money at your promising startup....</textarea><br />
  <input type="submit" value="Send">
</form>

