<h3>Thank you for your interest in ElieMattTimIan Inc.</h3>

<p>We will respond to your resquest shortly.  Please allow some time for a response as we are a very hot startup with lots of interest from investors.</p>